<ul class="nav nav-tabs nav-tabs-pf">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="../">Active</a>
  </li>
  <li class="active">
    <a href="javascript:void(0)">All</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="../providers">Providers</a>
  </li>
</ul>

<br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Type</th>
      <th>Kid</th>
      <th>Priority</th>
      <th>Provider</th>
      <th>Public key</th>
      <th>Certificate</th>
    </tr>
  </thead>
  <tbody *ngIf="key && key.keys">
    <tr *ngFor="let item of key.keys">
      <td>{{item.status}}</td>
      <td>{{item.type}}</td>
      <td>{{item.kid}}</td>
      <td>{{item.providerPriority}}</td>
      <td>
        <a *ngIf="item.provider" [routerLink]="['../providers', item.provider.providerId, item.provider.id]">{{item.provider.name}}</a>
      </td>

      <td *ngIf="item.publicKey" class="kc-action-cell">
        <openfact-view-key [key]="item.publicKey" [label]="'view' " [isLink]="true"></openfact-view-key>
      </td>
      <td *ngIf="!item.publicKey"></td>

      <td *ngIf="item.certificate" class="kc-action-cell">
        <openfact-view-key [key]="item.certificate" [label]="'view' " [isLink]="true"></openfact-view-key>
      </td>
      <td *ngIf="!item.certificate"></td>
    </tr>
  </tbody>
</table>
