<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left">
      <div class="nav-category">
        <h2>Security</h2>
        <ul class="nav nav-pills nav-stacked">
          <li routerLinkActive="active">
            <a routerLink="../security"><i class="fa fa-user"></i>Users</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
