<div class="row toolbar-pf table-view-pf-toolbar">
  <div class="col-sm-12">
    <form (ngSubmit)="search()" class="toolbar-pf-actions">
      <div class="form-group toolbar-pf-filter">
        <input type="text" class="form-control" placeholder="Filter By Id..." autocomplete="off" id="filterInput">
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="button" (click)="createDocument()" *openfactAccess="'manageDocuments'">Create Document</button>
      </div>
      <div class="toolbar-pf-action-right">
        <div class="form-group toolbar-pf-find">
          <button class="btn btn-link btn-find" type="submit">
            <span class="fa fa-search"></span>
          </button>
        </div>
      </div>
    </form>
    <div class="row toolbar-pf-results">
      <div class="col-sm-9">
        <div class="hidden">
          <h5>0 Results</h5>
          <p>Active filters:</p>
          <ul class="list-inline"></ul>
          <p><a href="#">Clear All Filters</a></p>
        </div>
      </div>
      <div class="col-sm-3 table-view-pf-select-results">
        <strong>0</strong> of <strong>0</strong> selected
      </div>
    </div>
  </div>
</div>
