<div class="modal fade in" bsModal #aboutModal="bs-modal" (onHide)="close()" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content about-modal-pf">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="aboutModal.hide()"><span class="pficon pficon-close"></span></button>
      </div>
      <div class="modal-body">
        <h1>Openfact</h1>
        <div class="product-versions-pf">
          <ul class="list-unstyled">
            <li><strong>Version</strong> 1.0.0.Final</li>
          </ul>
        </div>
        <div class="trademark-pf">
          Sistcoop Copyright 2017
        </div>
      </div>
      <div class="modal-footer">
        <img src="/assets/img/logo-alt.svg" alt="Openfact">
      </div>
    </div>
  </div>
</div>
