<form [formGroup]="form" (ngSubmit)="save()" class="form-horizontal">
  <openfact-form-fields-status [ofForm]="form"></openfact-form-fields-status>

  <div class="form-group" [openfact-form-field-validation-state]="form.get('host')">
    <label class="col-md-2 control-label" [openfact-form-required-label]="form.get('host')">Host
		  <i class="fa fa-question-circle text-muted" ngbTooltip="Host of the smtp server." placement="right"></i>
    </label>
    <div class="col-md-3">
      <input formControlName="host" type="text" class="form-control" placeholder="SMTP Host" />
      <openfact-form-field-validation-messages [ofFormControl]="form.get('host')">
      </openfact-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [openfact-form-field-validation-state]="form.get('port')">
    <label class="col-md-2 control-label" [openfact-form-required-label]="form.get('port')">Port
			<i class="fa fa-question-circle text-muted" ngbTooltip="Port of the smtp server." placement="right"></i>
    </label>
    <div class="col-md-3">
      <input formControlName="port" type="text" class="form-control" placeholder="SMTP Port(defaults to 25)" />
      <openfact-form-field-validation-messages [ofFormControl]="form.get('port')">
      </openfact-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [openfact-form-field-validation-state]="form.get('from')">
    <label class="col-md-2 control-label" [openfact-form-required-label]="form.get('from')">From
			<i class="fa fa-question-circle text-muted" ngbTooltip="Origin of the smtp server." placement="right"></i>
    </label>
    <div class="col-md-4">
      <input formControlName="from" type="text" class="form-control" placeholder="Sender Email Address" />
      <openfact-form-field-validation-messages [ofFormControl]="form.get('from')">
      </openfact-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [openfact-form-field-validation-state]="form.get('ssl')">
    <label class="col-md-2 control-label" [openfact-form-required-label]="form.get('ssl')">Enable SSL
			<i class="fa fa-question-circle text-muted" ngbTooltip="Set true/false to enable/disable ssl on smtp server." placement="right"></i>
    </label>
    <div class="col-md-4">
      <bSwitch formControlName="ssl"></bSwitch>
      <openfact-form-field-validation-messages [ofFormControl]="form.get('ssl')">
      </openfact-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [openfact-form-field-validation-state]="form.get('starttls')">
    <label class="col-md-2 control-label" [openfact-form-required-label]="form.get('starttls')">Enable StartTLS
			<i class="fa fa-question-circle text-muted" ngbTooltip="Set true/false to enable/disable startTLS on smtp server." placement="right"></i>
    </label>
    <div class="col-md-4">
      <bSwitch formControlName="starttls"></bSwitch>
      <openfact-form-field-validation-messages [ofFormControl]="form.get('starttls')">
      </openfact-form-field-validation-messages>
    </div>
  </div>

  <div class="form-group" [openfact-form-field-validation-state]="form.get('auth')">
    <label class="col-md-2 control-label" [openfact-form-required-label]="form.get('auth')">Enable Authentication
			<i class="fa fa-question-circle text-muted" ngbTooltip="Set true to enalble authentication" placement="right"></i>
    </label>
    <div class="col-md-4">
      <div class="checkbox">
        <label>
					<input formControlName="auth" type="checkbox"> Check for enable Authentication
				</label>
      </div>
      <openfact-form-field-validation-messages [ofFormControl]="form.get('auth')">
      </openfact-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [hidden]="!form.get('auth').value">
    <label class="col-md-2 control-label"></label>
    <div class="col-md-4">
      <div class="row of-no-margin">
        <div class="col-md-12">
          <div class="form-group" class="form-group" [openfact-form-field-validation-state]="form.get('user')">
            <label class="control-label" [openfact-form-required-label]="form.get('user')">Username</label>
            <input formControlName="user" type="text" class="form-control" placeholder="Login Username">
            <openfact-form-field-validation-messages [ofFormControl]="form.get('user')">
            </openfact-form-field-validation-messages>
          </div>
          <div class="form-group" class="form-group" [openfact-form-field-validation-state]="form.get('password')">
            <label class="control-label" [openfact-form-required-label]="form.get('password')">Password</label>
            <input formControlName="password" type="password" class="form-control" placeholder="Login Password">
            <openfact-form-field-validation-messages [ofFormControl]="form.get('password')">
            </openfact-form-field-validation-messages>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
      <openfact-button-save [ofForm]="form" [working]="working"></openfact-button-save>
      <openfact-button-reset [ofForm]="form" (ofOnReset)="loadData()"></openfact-button-reset>
    </div>
  </div>
</form>
