<openfact-header></openfact-header>

<!-- content -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-12">
      <div class="centering text-center">
        <div class="text-center">
          <h2 class="without-margin">Don't worry. It's <span class="text-success"><h2>404</h2></span> error only.</h2>
          <h4 class="text-success">Page not found</h4>
        </div>
        <div class="text-center">
          <h3><small>Choose an option below</small></h3>
        </div>
        <hr>
        <ul class="pager">
          <li><a routerLink="/">&larr; Home</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="navbar navbar-footer navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <footer role="contentinfo">
          <p class="left">Openfact</p>
          <p class="right">&copy; 2017 <a href="https://github.com/openfact/openfact" target="_blank">Openfact</a></p>
        </footer>
      </div>
    </div>
  </div>
</div>