<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">

  <div class="organization-selector">
    <h2>{{(currentOrganization || '') | firstLetterUpperCase}} <i class="fa fa-angle-down"></i></h2>
    <div class="organization-dropmenu">
      <ul>
        <li *ngFor="let organization of organizations | async">
          <a [routerLink]="['/organizations', organization.organization]" *ngIf="organization.organization != currentOrganization">{{organization.organization | firstLetterUpperCase}}</a>
        </li>
      </ul>
      <div class="organization-add" *openfactAccess="'createOrganizations'">
        <a routerLink="/admin/organizations/create" class="btn btn-sm btn-block btn-primary">Add organization</a>
      </div>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="./documents">
        <span class="fa fa-wpforms" title="Documents"></span>
        <span class="list-group-item-value">Documents</span>
      </a>
    </li>
    <li class="list-group-item" routerLinkActive="active">
      <a routerLink="./settings">
        <span class="fa fa-gear" title="Settings"></span>
        <span class="list-group-item-value">Settings</span>
      </a>
    </li>
  </ul>
</div>
