<div *ngIf="organization.organization">

  <ol class="breadcrumb">    
    <li><a href="javascript:void(0);" [routerLink]="['/organizations', organization.organization]">Settings</a></li>
    <li class="active"> {{organization.organization}}</li>
  </ol>
  <div>
    <h3>{{organization.organization | firstLetterUpperCase}}
      <small>Created
      <span>
        {{organization.createdTimestamp | amTimeAgo}}
      </span>
		</small>
    </h3>
  </div>

  <ul class="nav nav-tabs">
    <li routerLinkActive="active"><a [routerLink]="['/organizations', organization.organization, 'settings', 'general-information']">General</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', organization.organization, 'settings', 'additional-information']">Additional Info</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', organization.organization, 'settings', 'keys']">Keys</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', organization.organization, 'settings', 'smtp-settings']">Email</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', organization.organization, 'settings', 'theme-settings']">Themes</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', organization.organization, 'settings', 'tasks-settings']">Tasks</a></li>
  </ul>

</div>