<div class="row toolbar-pf">
  <div class="col-sm-12">
    <div class="toolbar-pf-actions">
      <div class="form-group">
        <ol class="breadcrumb">
          <li>
            <a [routerLink]=" ['/home'] ">Home</a>
          </li>
          <li>
            <a [routerLink]=" ['..'] ">Documents</a>
          </li>
          <li class="active"><strong>Document Details</strong></li>
        </ol>
      </div>
      <div class="toolbar-pf-action-right" *ngIf="document">
        <div class="btn-group">
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default">Actions</button>
            <button class="btn btn-default" dropdownToggle><span class="caret"></span><span class="sr-only">Actions</span></button>
            <ul *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2" style="right: 0; left: auto;">
              <li>
                <a href="javascript:void(0);" (click)="sendToCustomer()"><span class="fa fa-child"></span> Send to Customer</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="sendToCustomParty()"><span class="fa fa-share"></span> Send to Custom Party</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-group">
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default"><span class="fa fa-download"></span> Download</button>
            <button class="btn btn-default" dropdownToggle><span class="caret"></span><span class="sr-only">Download</span></button>
            <ul *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2" style="right: 0; left: auto;">
              <li>
                <a href="javascript:void(0);" (click)="downloadXml()"><span class="fa fa-file-code-o"></span> Xml</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="downloadPdf()"><span class="fa fa-file-pdf-o"></span> Pdf</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-default" (click)="openDeleteDialog(deleteDocumentModal)">
						<span class="pficon pficon-delete"></span> Delete
					</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #deleteDocumentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <openfact-delete-document-dialog></openfact-delete-document-dialog>
  </div>
</div>
