<of-loading [loading]="loading">
  <div [ngSwitch]="showMode">

    <div *ngSwitchCase="'th'">
      <div id="table1_wrapper" class="dataTables_wrapper no-footer">
        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="table1" role="grid">
          <thead>
            <tr role="row">
              <th class="table-view-pf-select sorting_disabled" rowspan="1" colspan="1"><label class="sr-only" for="selectAll">Select all rows</label><input type="checkbox" id="selectAll" name="selectAll"></th>
              <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">Rendering Engine</th>
              <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">Browser</th>
              <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">Platform(s)</th>
              <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">Engine Version</th>
              <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1">CSS Grade</th>
              <th colspan="2" rowspan="1">Actions</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <div *ngSwitchCase="'th-list'">list</div>

    <div *ngSwitchDefault>
      <div class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">
          <div *ngFor="let organization of organizations" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
              <div class="card-pf-heading-kebab">
                <div class="pull-right dropdown-kebab-pf">
                  <openfact-button-delete [kind]="'Organization'" [resourceName]="organization.organization" [typeNameToConfirm]="true" [buttonOnly]="true"
                    (onConfirm)="delete(organization)"></openfact-button-delete>
                </div>
              </div>
              <div class="card-pf-body" (click)="edit(organization)">
                <div class="card-pf-top-element">
                  <span class="pficon pficon-enterprise card-pf-icon-circle"></span>
                </div>
                <h2 class="card-pf-title text-center">{{organization.organization}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</of-loading>
