<!--<form [formGroup]="form" (ngSubmit)="save(form)" class="form-horizontal">-->
  <!--<of-form-fields-status [ofForm]="form"></of-form-fields-status>-->

  <!--<div class="form-group" [ofFormFieldValidationState]="form.get('organization')">
    <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('organization')">Name
			<i class="fa fa-question-circle text-muted" ngbTooltip="Name of the organization." placement="right"></i>
    </label>
    <div class="col-md-9">
      <input formControlName="organization" type="text" class="form-control"/>
      <of-form-field-validation-messages [ofFormControl]="form.get('organization')">
      </of-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [ofFormFieldValidationState]="form.get('description')">
    <label class="col-md-2 control-label" [ofFormRequiredLabel]="form.get('description')">Description
			<i class="fa fa-question-circle text-muted" ngbTooltip="Description of the organization." placement="right"></i>
    </label>
    <div class="col-md-9">
      <textarea formControlName="description" type="text" class="form-control" autofocus></textarea>
      <of-form-field-validation-messages [ofFormControl]="form.get('description')">
      </of-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [ofFormFieldValidationState]="form.get('enabled')">
    <label class="col-md-2 control-label">Enabled
			<i class="fa fa-question-circle text-muted" ngbTooltip="True/false if the organization is active or inactive." placement="right"></i>
    </label>
    <div class="col-md-4">
      <of-button-switch formControlName="enabled"></of-button-switch>
      <of-form-field-validation-messages [ofFormControl]="form.get('enabled')">
      </of-form-field-validation-messages>
    </div>
  </div>-->

  <!--<div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
      <of-button-save [ofForm]="form" [working]="working"></of-button-save>
      <of-button-reset [ofForm]="form" (ofOnReset)="loadData()"></of-button-reset>
    </div>
  </div>-->
<!--</form>-->