<div *ngIf="!ofFormControl.valid && ofFormControl.dirty">
  <span *ngIf="ofFormControl.errors.required" class="help-block">This field is required</span>
  <span *ngIf="ofFormControl.errors.minlength" class="help-block">Min length allowed: {{ofFormControl.errors.minlength.requiredLength}}</span>
  <span *ngIf="ofFormControl.errors.maxlength" class="help-block">Max length allowed: {{ofFormControl.errors.maxlength.requiredLength}}</span>
  <span *ngIf="ofFormControl.errors.pattern" class="help-block">Invalid value</span>

  <ng-content>

  </ng-content>
</div>