<ol class="breadcrumb">
  <li><a routerLink="../../">Keystores</a></li>
  <li>Edit keystore</li>
</ol>

<form [formGroup]="form" (ngSubmit)="save(config.config)" class="form-horizontal" *ngIf="instance && instance.id && providerFactory && providerFactory.properties">
  <fieldset>
    <p class="fields-status-pf">Fields marked with <span class="required-pf">*</span> are required.</p>

    <div class="form-group">
      <label class="col-md-2 control-label required-pf">Provider Id
					<i class="fa fa-question-circle text-muted" ngbTooltip="name of the name" placement="right"></i>
      </label>
      <div class="col-md-9">
        <input [value]="instance.id" type="text" class="form-control" readonly/>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error' : !form.controls.name.valid && form.controls.name.dirty }">
      <label class="col-md-2 control-label required-pf">Console Display Name
					<i class="fa fa-question-circle text-muted" ngbTooltip="name of the name" placement="right"></i>
      </label>
      <div class="col-md-9">
        <input [formControl]="form.controls.name" type="text" class="form-control" autofocus/>
        <div *ngIf="!form.controls.name.valid && form.controls.name.dirty">
          <span *ngIf="form.controls.name.errors.required" class="help-block">This field is required</span>
          <span *ngIf="form.controls.name.errors.maxlength" class="help-block">Max length allowed: {{form.controls.name.errors.maxlength.requiredLength}}</span>
        </div>
      </div>
    </div>

    <openfact-settings-component-config #config [config]="instance.config" [properties]="providerFactory.properties"></openfact-settings-component-config>
  </fieldset>

  <div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
      <of-button-save [ofForm]="form" [working]="working"></of-button-save>
      <of-button-cancel (ofOnCancel)="cancel($event)"></of-button-cancel>
    </div>
  </div>
</form>
