<openfact-organization-header></openfact-organization-header>
<openfact-organization-sidebar></openfact-organization-sidebar>
<openfact-organization-content>
  <!--<h1>{{idSubscription | async | firstLetterUpperCase}}</h1>-->
  <ul class="nav nav-tabs">
    <li routerLinkActive="active"><a [routerLink]="['/organizations', 's', 'settings', 'general-information']">General</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', 's', 'settings', 'additional-information']">Additional Information</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', 's', 'settings', 'keys']">Keys</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', 's', 'settings', 'smtp-settings']">Email</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', 's', 'settings', 'theme-settings']">Themes</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/organizations', 's', 'settings', 'tasks-settings']">Tasks</a></li>    
  </ul>
  <router-outlet></router-outlet>
</openfact-organization-content>