<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modal.hide()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Send Document to Custom Party</h4>
  </div>

  <form #f="ngForm" (ngSubmit)="send()" novalidate>
    <div class="modal-body" ngModelGroup="customParty">
      <h3>Email</h3>
      <input id="email" name="email" type="email" #email="ngModel" [(ngModel)]="customParty.email" class="form-control" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        required>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Send</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </form>
</div>
