<div class="modal fade" bsModal #viewModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div style="padding: 20px 20px 20px 20px; word-wrap: break-word;">{{key}}</div>
      </div>
    </div>
  </div>
</div>

<span *ngIf="isSpan" (click)="viewModal.show()">{{label || 'View details'}}</span>
<button *ngIf="isButton" type="button" class="btn btn-default" (click)="viewModal.show()">{{label || 'View details'}}</button>
<a *ngIf="isLink" href="javascript:void(0)" (click)="viewModal.show()">{{label || 'View details'}}</a>
