<div class="row">
  <div class="col-md-12">

    <ol class="breadcrumb">
      <li><a routerLink="../">Documents</a></li>
      <li>Upload</li>
    </ol>

    <h1>Upload Document</h1>
    <ul class="nav nav-tabs">
      <!--<li routerLinkActive="active">
        <a routerLink="../create">Create</a>
      </li>-->
      <li routerLinkActive="active">
        <a routerLink="../upload">Upload</a>
      </li>
    </ul>

    <br>

    <div class="row">
        <div class="col-md-12">
            <div ng2FileDrop [ngClass]="{'file-over': hasDropZoneOver}" (fileOver)="fileOver($event)" [uploader]="uploader" class="well text-center drop-zone">
                <img alt="Feature image" height="52" src="/assets/img/files-lg.svg" width="204">
                <h2 class="text-muted">Drag files here to add them to your repository</h2>

                <p class="text-muted">Or</p>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-default">Choose your files
                            <i class="pficon pficon-import"></i>
                            <input type="file" style="display: none;" ng2FileSelect [uploader]="uploader" multiple/>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12" [hidden]="!uploader.isUploading">
            <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" [ngStyle]="{ 'width': uploader.progress + '%' }">
                    <span class="sr-only">{{uploader.progress}}% complete</span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-condensed">
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td class="text-muted" width="10">
                            <i class="fa fa-file-code-o"></i>
                        </td>
                        <td class="text-muted">{{ item?.file?.name }}</td>
                        <td class="text-muted">
                            <span *ngIf="item.isSuccess">success</span>
                            <span *ngIf="item.isCancel">canceled</span>
                            <span *ngIf="item.isError" class="bg-danger">error</span>
                        </td>
                        <td class="text-muted actions" width="10">
                            <button type="button" class="btn btn-link btn-xs" (click)="item.remove()" style="color: #666;">
                                <span class="pficon pficon-close"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
                        <button type="button" (click)="uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" class="btn btn-primary">Upload</button>
                        <button type="button" (click)="uploader.clearQueue()" [disabled]="uploader.isUploading" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>
