<div>
  <div *ngFor="let option of properties" class="form-group">
    <label class="col-md-2 control-label">{{option.label}}
      <i class="fa fa-question-circle text-muted" ngbTooltip="name of the name" placement="right"></i>
    </label>

    <div class="col-md-6" *ngIf="option.type == 'String'">
      <input class="form-control" type="text" [(ngModel)]="config[ option.name ][0]">
    </div>
    <div class="col-md-6" *ngIf="option.type == 'Password'">
      <input class="form-control" type="password" [(ngModel)]="config[ option.name ][0]">
    </div>
    <div class="col-md-6" *ngIf="option.type == 'boolean'">
      <bSwitch name="option.name" [(ngModel)]="config[ option.name ][0]" (onChangeState)="onSwitchChange(option, $event)"></bSwitch>
    </div>
    <div class="col-md-6" *ngIf="option.type == 'List'">
      <select [(ngModel)]="config[ option.name ][0]" (change)="onListChange(option, $event.target.value)">
        <option value="" selected> Select One </option>
        <option *ngFor="let data of option.options" [value]="data">{{data}}</option>
      </select>
    </div>

    <div class="col-md-6" *ngIf="option.type == 'File'">
      <div class="input-group">
        <input class="form-control" type="text" [(ngModel)]="config[option.name][0]">
        <openfact-read-file [showFileName]="false" (complete)="onFileChange(option, $event)"></openfact-read-file>
      </div>
    </div>

  </div>
</div>
