<div class="row row-cards-pf center" *ngIf="document">

  <div class="col-xs-12">
    <span class="name">
      <span class="pull-right">created {{document.creationTimestamp | amTimeAgo}}</span>
      <h2 class="card-pf-title">
        <img src="assets/img/logo-alt.svg" width="30" height="30"/>&nbsp; {{document.documentId}}
      </h2>
    </span>
  </div>

  <div class="col-xs-12">
    <h3>Configuration</h3>
    <dl class="dl-horizontal left">
      <dt>Required Actions:</dt>
      <dd title="selector" *ngFor='let requiredAction of document.requiredActions'>
        {{requiredAction}}
      </dd>
    </dl>
  </div>

</div>
