<div class="container-fluid">
  <div class="row toolbar-pf">
    <div class="col-sm-12">
      <form class="toolbar-pf-actions">
        <div class="form-group toolbar-pf-filter">
          <label class="sr-only">Name</label>
          <input type="text" class="form-control" placeholder="Filter By Name..." autofocus>
        </div>
        <!-- /filter -->

        <div class="form-group">
          <button class="btn btn-default" type="button" routerLink="./create">Create Organization</button>
        </div>
        <!--/actions-->

        <div class="toolbar-pf-action-right">
          <div class="form-group toolbar-pf-find">
            <button class="btn btn-link btn-find" type="submit">
            		<span class="fa fa-search"></span>
            </button>
          </div>
          <div class="form-group toolbar-pf-view-selector">
            <button class="btn btn-link "><i class="fa fa-th"></i></button>
            <button class="btn btn-link active"><i class="fa fa-th-large"></i></button>
            <button class="btn btn-link "><i class="fa fa-th-list"></i></button>
          </div>
        </div>
        <!-- /viewer -->
      </form>
      <div class="row toolbar-pf-results">
        <div class="col-sm-12">
          <h5>Showing 50 Results</h5>
        </div>
      </div>
    </div>
    <!-- /results -->
  </div>
</div>

<div class="container-fluid container-cards-pf">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
      <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
        <!--<div class="card-pf-heading-kebab">
          <div class="pull-right dropdown-kebab-pf">
            <of-button-delete [model]="item" [kind]="'Organization'" [resourceName]="item.organization" [typeNameToConfirm]="true" [buttonOnly]="true"
              (success)="search()"></of-button-delete>
          </div>
        </div>-->
        <div class="card-pf-body" (click)="editOrganization(item)">
          <div class="card-pf-top-element">
            <span class="pficon pficon-enterprise card-pf-icon-circle"></span>
          </div>
          <h2 class="card-pf-title text-center">Organization Name</h2>
          <p class="card-pf-info text-center">
            <strong>Created On</strong>&nbsp;
            <!--<span *ngIf="item.createdTimestamp">{{item.createdTimestamp | date}}</span>
            <span *ngIf="!item.createdTimestamp" class="text-muted">Unknow</span>
            <br/>
            <span *ngIf="item.description">{{item.description}}</span>
            <span *ngIf="!item.description" class="text-muted">{{'no-description-available' | translate}}</span>-->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>