<ul class="nav nav-tabs nav-tabs-pf">
  <li class="active">
    <a href="javascript:void(0)">Active</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="./list">All</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="./providers">Providers</a>
  </li>
</ul>

<br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Type</th>
      <th>Kid</th>
      <th>Provider</th>
      <th>Public key</th>
      <th>Certificate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of activeMap.keys()">
      <td>{{activeMap.getValue(item).type}}</td>
      <td>{{activeMap.getValue(item).kid}}</td>
      <td>
        <a [routerLink]="['./providers', activeMap.getValue(item).provider.providerId, activeMap.getValue(item).provider.id]">{{activeMap.getValue(item).provider.name}}</a>
      </td>

      <td *ngIf="activeMap.getValue(item).publicKey" class="kc-action-cell">
        <of-view-key [key]="activeMap.getValue(item).publicKey" [label]="'view' " [isLink]="true"></of-view-key>
      </td>
      <td *ngIf="!activeMap.getValue(item).publicKey"></td>

      <td *ngIf="activeMap.getValue(item).certificate" class="kc-action-cell">
        <of-view-key [key]="activeMap.getValue(item).certificate" [label]="'view' " [isLink]="true"></of-view-key>
      </td>
      <td *ngIf="!activeMap.getValue(item).certificate"></td>
    </tr>
  </tbody>
</table>
