<div class="row">
  <div class="col-md-12">

    <form [formGroup]="form" (ngSubmit)="save()" class="form-horizontal">
      <!--<openfact-form-fields-status [ofForm]="form"></openfact-form-fields-status>-->

      <div class="form-group" formGroupName="attributes">
        <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('attributes').get('organization')">Organizations
					<i class="fa fa-question-circle text-muted" ngbTooltip="Name of the organization." placement="right"></i>
        </label>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3">
              <select formControlName="organization" multiple class="form-control">
                <option *ngFor="let organization of organizations | async" [value]="organization.organization">{{organization.organization}}</option>
              </select>
            </div>
          </div>
        </div>
        <openfact-form-field-validation-messages [ofFormControl]="form.get('attributes').get('organization')">
        </openfact-form-field-validation-messages>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
          <openfact-button-save [ofForm]="form" [working]="working"></openfact-button-save>
          <openfact-button-cancel (ofOnCancel)="cancel()"></openfact-button-cancel>
        </div>
      </div>
    </form>

  </div>
</div>
