<of-loading [loading]="loading">
  <div class="dataTables_wrapper no-footer">
    <table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
      <thead>
        <tr role="row">
          <th width="10" class="center">#</th>
          <th>Type</th>
          <th>Document Id</th>
          <th>Currency</th>
          <th>Customer</th>
          <th>Enabled</th>
          <th colspan="3" rowspan="1" *openfactAccess="'manageUsers'">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr role="row" class="odd" *ngFor="let document of documents; let i = index;">
          <td>{{i+criteria.from}}</td>
          <td>{{document.documentType}}</td>
          <td>{{document.documentId}}</td>
          <td>{{document.documentCurrencyCode}}</td>
          <td>{{document.customerRegistrationName}}</td>
          <td>
            <span *ngIf="!document.enabled"><i class="pficon pficon-warning-triangle-o"></i></span> {{document.enabled}}
          </td>
          <td class="table-view-pf-actions" *openfactAccess="'viewDocuments'">
            <div class="table-view-pf-btn">
              <button class="btn btn-default" type="button" (click)="view(document)">View</button>
            </div>
          </td>
          <td class="table-view-pf-actions" *openfactAccess="'viewDocuments'">
            <div class="dropdown dropdown-kebab-pf" dropdown>
              <button dropdownToggle class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true"><span class="fa fa-ellipsis-v"></span></button>
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight">
                <li>
                  <a href="javascript:void(0)" (click)="openDeleteDialog(deleteDocumentModal, document)">Delete</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="content-view-pf-pagination table-view-pf-pagination clearfix">
    <div class="form-group">
      <div dropdown class="btn-group bootstrap-select pagination-pf-pagesize">
        <button dropdownToggle type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="15"><span class="filter-option pull-left">{{criteria.pageSize}}</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
        <div *dropdownMenu class="dropdown-menu open">
          <ul class="dropdown-menu inner" role="menu">
            <li data-original-index="0" [ngClass]="{'selected': criteria.pageSize === 6}"><a href="javascript:void(0)" (click)="criteria.pageSize = 6"><span class="text">6</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
            <li data-original-index="1" [ngClass]="{'selected': criteria.pageSize === 10}"><a href="javascript:void(0)" (click)="criteria.pageSize = 10"><span class="text">10</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
            <li data-original-index="2" [ngClass]="{'selected': criteria.pageSize === 15}"><a href="javascript:void(0)" (click)="criteria.pageSize = 15"><span class="text">15</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
            <li data-original-index="3" [ngClass]="{'selected': criteria.pageSize === 25}"><a href="javascript:void(0)" (click)="criteria.pageSize = 25"><span class="text">25</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
            <li data-original-index="4" [ngClass]="{'selected': criteria.pageSize === 50}"><a href="javascript:void(0)" (click)="criteria.pageSize = 50"><span class="text">50</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
          </ul>
        </div>
      </div>
      <span>per page</span>
    </div>
    <div class="form-group">
      <span><span class="pagination-pf-items-current">{{criteria.from}}-{{criteria.to}}</span> of <span class="pagination-pf-items-total">{{criteria.totalSize}}</span></span>
      <ul class="pagination pagination-pf-back">
        <li><a (click)="criteria.firstPage()" href="javascript:void(0)" title="First Page"><span class="i fa fa-angle-double-left"></span></a></li>
        <li><a (click)="criteria.previousPage()" href="javascript:void(0)" title="Previous Page"><span class="i fa fa-angle-left"></span></a></li>
      </ul>
      <label class="sr-only">Current Page</label>
      <input #currentPage (keyup.enter)="criteria.page = currentPage.value" class="pagination-pf-page" type="text" [value]="criteria.page">
      <span>of <span class="pagination-pf-pages">{{criteria.totalPages}}</span></span>
      <ul class="pagination pagination-pf-forward">
        <li><a (click)="criteria.nextPage()" href="javascript:void(0)" title="Next Page"><span class="i fa fa-angle-right"></span></a></li>
        <li><a (click)="criteria.lastPage()" href="javascript:void(0)" title="Last Page"><span class="i fa fa-angle-double-right"></span></a></li>
      </ul>
    </div>
  </div>
</of-loading>

<div class="modal fade" bsModal #deleteDocumentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <openfact-delete-document-dialog></openfact-delete-document-dialog>
  </div>
</div>
