<form [formGroup]="form" (ngSubmit)="save()" class="form-horizontal">
  <openfact-form-fields-status [ofForm]="form"></openfact-form-fields-status>

  <div class="form-group" [openfactFormFieldValidationState]="form.get('assignedIdentificationId')">
    <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('assignedIdentificationId')">RUC
			<i class="fa fa-question-circle text-muted" ngbTooltip="AssignedIdentificationId of the organization." placement="right"></i>
    </label>
    <div class="col-md-3">
      <input formControlName="assignedIdentificationId" type="text" class="form-control" />
      <openfact-form-field-validation-messages [ofFormControl]="form.get('assignedIdentificationId')">
      </openfact-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [openfactFormFieldValidationState]="form.get('additionalAccountId')">
    <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('additionalAccountId')">Additional Account ID
			<i class="fa fa-question-circle text-muted" ngbTooltip="AdditionalAccountId of the organization." placement="right"></i>
    </label>
    <div class="col-md-3">
      <input formControlName="additionalAccountId" type="text" class="form-control" />
      <openfact-form-field-validation-messages [ofFormControl]="form.get('additionalAccountId')">
      </openfact-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [openfactFormFieldValidationState]="form.get('supplierName')">
    <label class="col-md-2 control-label">Supplier Name
			<i class="fa fa-question-circle text-muted" ngbTooltip="Supplier name of the organization." placement="right"></i>
    </label>
    <div class="col-md-4">
      <input formControlName="supplierName" type="text" class="form-control" />
      <openfact-form-field-validation-messages [ofFormControl]="form.get('supplierName')">
      </openfact-form-field-validation-messages>
    </div>
  </div>
  <div class="form-group" [openfactFormFieldValidationState]="form.get('registrationName')">
    <label class="col-md-2 control-label">Registration Name
			<i class="fa fa-question-circle text-muted" ngbTooltip="Registration name of the organization" placement="right"></i>
    </label>
    <div class="col-md-4">
      <input formControlName="registrationName" type="text" class="form-control" />
      <openfact-form-field-validation-messages [ofFormControl]="form.get('registrationName')">
      </openfact-form-field-validation-messages>
    </div>
  </div>

  <div formGroupName="postalAddress">
    <div class="form-group" [openfactFormFieldValidationState]="form.get('postalAddress').get('postalAddressId')">
      <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('postalAddress').get('postalAddressId')">Postal Address ID
				<i class="fa fa-question-circle text-muted" ngbTooltip="Postal Address Id name where the organization is located." placement="right"></i>
      </label>
      <div class="col-md-4">
        <input formControlName="postalAddressId" type="text" class="form-control" />
        <openfact-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('postalAddressId')">
        </openfact-form-field-validation-messages>
      </div>
    </div>
    <div class="form-group" [openfactFormFieldValidationState]="form.get('postalAddress').get('cityName')">
      <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('postalAddress').get('cityName')">City Name
				<i class="fa fa-question-circle text-muted" ngbTooltip="City name where the organization is located." placement="right"></i>
      </label>
      <div class="col-md-4">
        <input formControlName="cityName" type="text" class="form-control" />
        <openfact-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('cityName')">
        </openfact-form-field-validation-messages>
      </div>
    </div>
    <div class="form-group" [openfactFormFieldValidationState]="form.get('postalAddress').get('citySubdivisionName')">
      <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('postalAddress').get('citySubdivisionName')">City Sub Division Name
				<i class="fa fa-question-circle text-muted" ngbTooltip="City Subdivision name where the organization is located." placement="right"></i>
      </label>
      <div class="col-md-4">
        <input formControlName="citySubdivisionName" type="text" class="form-control" />
        <openfact-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('citySubdivisionName')">
        </openfact-form-field-validation-messages>
      </div>
    </div>
    <div class="form-group" [openfactFormFieldValidationState]="form.get('postalAddress').get('countryIdentificationCode')">
      <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('postalAddress').get('countryIdentificationCode')">Country Identification Code
				<i class="fa fa-question-circle text-muted" ngbTooltip="Country identification code where the organization is located." placement="right"></i>
      </label>
      <div class="col-md-2">
        <input formControlName="countryIdentificationCode" type="text" class="form-control" />
        <openfact-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('countryIdentificationCode')">
        </openfact-form-field-validation-messages>
      </div>
    </div>
    <div class="form-group" [openfactFormFieldValidationState]="form.get('postalAddress').get('countrySubentity')">
      <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('postalAddress').get('countrySubentity')">Country Sub Entity
				<i class="fa fa-question-circle text-muted" ngbTooltip="Country sub entity where the organization is located." placement="right"></i>
      </label>
      <div class="col-md-4">
        <input formControlName="countrySubentity" type="text" class="form-control" />
        <openfact-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('countrySubentity')">
        </openfact-form-field-validation-messages>
      </div>
    </div>
    <div class="form-group" [openfactFormFieldValidationState]="form.get('postalAddress').get('district')">
      <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('postalAddress').get('district')">District
				<i class="fa fa-question-circle text-muted" ngbTooltip="District where the organization is located." placement="right"></i>
      </label>
      <div class="col-md-4">
        <input formControlName="district" type="text" class="form-control" />
        <openfact-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('district')">
        </openfact-form-field-validation-messages>
      </div>
    </div>
    <div class="form-group" [openfactFormFieldValidationState]="form.get('postalAddress').get('streetName')">
      <label class="col-md-2 control-label" [openfactFormRequiredLabel]="form.get('postalAddress').get('streetName')">Street Name
				<i class="fa fa-question-circle text-muted" ngbTooltip="Street name where the organization is located." placement="right"></i>
      </label>
      <div class="col-md-4">
        <input formControlName="streetName" type="text" class="form-control" />
        <openfact-form-field-validation-messages [ofFormControl]="form.get('postalAddress').get('streetName')">
        </openfact-form-field-validation-messages>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2">
      <openfact-button-save [ofForm]="form" [working]="working"></openfact-button-save>
      <openfact-button-reset [ofForm]="form" (ofOnReset)="loadData()"></openfact-button-reset>
    </div>
  </div>
</form>
